.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
    padding-bottom: 100px;
}

.main{
    display: flex;
    gap: 20px;
    /* height: 600px; */
    overflow-x: auto;
    padding-bottom: 100px;
    overflow: hidden;
}

svg{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    stroke: white;
}

svg:hover{
    background: orange;
    stroke: black;
}

.wrapper_button{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -340px;
    max-width: 1560px;
    margin: 0 auto;
}

